In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [83]:
def model_city(df, city = 1):
    '''
    Breaks the dataset into 3 cities
    SF = 1
    OAK = 2
    SJ = 3

    INPUT: Dataframe
           Number for city to be modeled
    OUTPUT: returns a portion of the original dataframe
    ''' 
    if city == 1:
        return df[(df.end_station_latitude > 37.697799) & (df.end_station_longitude <-122.330676)]
    elif city == 2:
        return df[(df.end_station_latitude > 37.697799) & (df.end_station_longitude >-122.330676)]
    elif city == 3:
        return df[df.end_station_latitude < 37.697799]
    
def unique_stations(df):
    #names of each start station and the number of trips 
    lst_start_station_name = df.start_station_name.value_counts()
    #ids of each start station and the number of trips 
    lst_start_station_id = df.start_station_id.value_counts()
    num_unique_stations = lst_start_station_id.unique().size
    unique_start_sations = df.start_station_id.unique()
    unique_end_stations = df.end_station_id.unique()
    return unique_start_sations

def new_stn_coords(old_stn, new_stn):
    new_stn = set(new_stn) - set(old_stn)
    lst_new = list(new_stn)
    return lst_new

def stn_coords(df):
    #getting the coordinates from the dataset
    coordinates = np.array(c_df[['end_station_longitude', 'end_station_latitude']])
    unique_coords = np.unique(coordinates, axis = 0)
    #create a dictionary with
    #station id as key
    #coordinates for the station id as values
    id_coord = {}
    for u in unique_coords:
        k = c_df.end_station_id[(c_df.end_station_longitude == u[0]) &(c_df.end_station_latitude == u[1])].iloc[0]
        id_coord[k] = u
    return id_coord

def plot_new_station(df):
    
    pass

In [84]:
df = pd.read_csv('data/201803-fordgobike-tripdata.csv')
mar_18_sf = model_city(df)
mar_18= unique_stations(mar_18_sf)
mar_18

array([  4,  78,  98,  11,  58, 321,  16, 134, 223,  85, 133,   3, 146,
       125,  47, 120,  75, 121,  56,  96,  93,  53, 126, 127, 324, 106,
        27,  15,  19,  10, 110,  29,  45, 284,  52,  72, 129,   5,  60,
        67,  44, 323,  70,  41,  14, 113, 114,  34,  62, 122,   8,  71,
         6,  42, 141,  90, 119,  99,  74,  43,  31,  86, 109,  55, 107,
        88,  73, 138,  63,  61,  21, 102, 336,  95,  20,  76,  17, 285,
        36,  81,  64,   9,  13,  28, 137, 139,  89,  30,  66, 105,  39,
       108,  84, 112,  79, 118, 124, 130, 116,  97, 342, 144,  26,  23,
        49,  77,  59, 100, 343,  25,  80, 115, 147, 140, 123, 145, 101,
       132,  22,  24,  33,  37, 148, 155, 163])

In [85]:
df = pd.read_csv('data/201804-fordgobike-tripdata.csv')
apr_18_sf = model_city(df)
apr_18= unique_stations(apr_18_sf)
apr_18

array([  4, 122,  41, 284,  21,  71,  24,  36, 114, 137,   5,  49, 145,
        30,  58,  50,  64, 107,   3,  84, 109,  56,  11,  81, 130,  89,
        66,  28,  53,  14,  31, 133, 106,  47,  59,  22,  98,  60,  67,
        44,  55, 127, 141, 324,  97,  77,  70,  19,  95, 343,  93, 223,
       118,  86,  73, 125, 110, 323, 124,  17, 345,  15, 112,  33, 113,
        80, 129, 126, 336, 120,  88,  75, 115, 123, 102, 144,  16,   8,
       100,  20, 132,  10,   9, 119,  45,  99,  76,  90, 134,  39,   6,
       121, 105,  78,  85, 147,  79,  43, 139, 146, 108, 285,  61,  42,
        96,  37, 116,  26,  25,  63, 321,  27,  74, 138, 101,  13,  29,
        62,  23,  52,  34,  72, 140, 344, 239, 231, 342,   7, 230])

In [86]:
new_stn = set(apr_18) - set(mar_18)
new_stn

{7, 50, 230, 231, 239, 344, 345}

In [87]:
new_stn_coords(mar_18, apr_18)

[230, 231, 7, 239, 50, 344, 345]